.cards {
  background: #fff;
  border-radius: 2px;
  height: 180px;
  margin: 1.5rem;
  position:relative;
  width: 180px;
  float: left;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  transition: 1s ease;
}

.cards > img {
  width: 100%;
}

.cards > img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
